<h1>Status</h1>
<p>
  <strong>Status:</strong>
  <%= @status.status_type %>
</p>

<%= link_to 'Editar', edit_status_path(@status), class: 'btn btn-success active' %> |
<%= link_to 'Voltar', statuses_path, class: 'btn btn-dark active' %>
