<p> NÃO RESPONDER ESTE E-MAIL, É APENAS PARA SUA INFORMAÇÃO </p>

<p>Pedido foi criado com sucesso.</p>

<p>Num. Solicitação: <%= @request.id %> </p>
<p>Assunto: <%= @request.subject %></p>
<p>Local: <%= @request.request_local %></p>

<p>Postado por: <%= @request.usuario.nomeUsuario %></p>
