<div class="jumbotron">
    <h1 class="display-3 arial">Editar Departmento</h1>

    <%= render 'form' %>
</div>

<%= link_to 'Mostrar', @department, class: 'btn btn-info active'  %> |
<%= link_to 'Voltar', departments_path, class: 'btn btn-dark active' %>
