<div class="jumbotron">
    <h1 class="display-3 arial" >Editar Prédio</h1>

    <%= render 'form' %>
</div>

<%= link_to 'Mostrar', @building, class: 'btn btn-info active' %> |
<%= link_to 'Voltar', buildings_path, class: 'btn btn-dark active' %>
