<div class="jumbotron">
    <h1 class="display-3 arial">Editar Categoria</h1>

    <%= render 'form' %>
</div>

<%= link_to 'Mostrar', @category, class: 'btn btn-info active' %> |
<%= link_to 'Voltar', categories_path, class: 'btn btn-dark active' %>
