<div class="jumbotron">
  <h1 class="display-3 arial">Editar Status de Obra</h1>
  <%= render 'form' %>
</div>

<%= link_to 'Mostrar', @statusobra, class: 'btn btn-info active' %> |
<%= link_to 'Voltar', statusobras_path, class: 'btn btn-dark active' %>
